@page
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Core.Web.Pages.Commons.NhanVien
@using PlatForm.Core.Localization
@using PlatForm.Core.Permissions
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<CoreResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["NhanVien"].Value;
}

@section scripts
{
    <abp-script src="/Pages/Commons/NhanVien/index.js" />
}
@section styles
{
    <abp-style src="/Pages/Commons/NhanVien/index.css" />
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L["TitleNhanVien"].Value</h1>
            </div>
            <div class="text-right col-md-6">
                @if (await Authorization.IsGrantedAsync(CorePermissions.NhanVien.Create))
                {
                    <button id="NewNhanVien" class="btn btn-add-general"
                            type="button" data-busy-text="Processing...">
                        <i class="fa fa-plus"></i> <span>@L["Create"].Value</span>
                    </button>
                }
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-search">
                    
                    <!-- /.box-header -->
                    <div class="card-body">
                        <div class="form-group search-form-group">
                            <label for="search">@L["TuKhoa"].Value</label>
                            <div class="input-group search-input-group">
                                <input type="text" id="keyword" class="form-control search-form-control" 
                                       placeholder="@L["PlaceHolderSearch"].Value">
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-search" id="Search">
                                        <span>@L["Search"].Value</span>
                                    </button>
                                </span>
                            </div>
                            <span class="text-danger field-validation-valid" data-valmsg-for="search" data-valmsg-replace="true">
                            </span>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12 col-md-6"></div>
                                <div class="col-sm-12 col-md-6"></div>
                            </div>
                            <div class="row">
                                <div class="table-responsive col-sm-12">
                                    <table id="NhanVienTable" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
                                        <thead>
                                            <tr role="row">
                                                <th aria-controls="example2" rowspan="1" colspan="1">@L["STT"].Value</th>
                                                <th aria-controls="example2" rowspan="1" colspan="1">@L["NhanVienName"].Value</th>
                                                <th aria-controls="example2" rowspan="1" colspan="1">@L["Tuoi"].Value</th>
                                                <th aria-controls="example2" rowspan="1" colspan="1">@L["CMND"].Value</th>
                                                <th aria-controls="example2" rowspan="1" colspan="1">@L["BoPhan"].Value</th>
                                                <th aria-controls="example2" rowspan="1" colspan="1"></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>